<br>
<div class="container" *ngIf="loading">
  <div *ngIf="cartItems.length == 0">Your cart is empty</div>
    <ul class="list-group" *ngFor="let product of cartItems">
      <li class="list-group-item d-flex justify-content-between align-items-center" routerLink="/shopping-cart/{{product.id}}">
        Order
        <span class="badge badge-primary badge-pill" *ngIf="product.isPaid">paid</span>
        <span class="badge badge-primary badge-pill" *ngIf="!product.isPaid"></span>

      </li>
      <p></p>

    </ul>
</div>
<div class="container" *ngIf="!loading">
  ...loading...
  <!--<app-no-products-found [title]="messageTitle" [description]="messageDescription"></app-no-products-found>-->
</div>
