.content {
  background-color: #E3F2FD;

}

.mat-toolbar {
  background-color: #2196F3
;
}

button {
  color: #E3F2FD;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
