<mat-toolbar color="primary" class="bg-primary text-white">
  <mat-toolbar-row>
    <span>Order Entry</span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
    <nav>
      <a mat-button *ngIf="authService.isLoggedIn()" routerLink="/account">
        <i class="material-icons">
          person
        </i>
        My Account</a>
      <a mat-button routerLink="/catalog">Catalog</a>
      <!--<a mat-button routerLink="/login">Sig In </a>-->
      <a mat-button *ngIf="!authService.isLoggedIn()" routerLink="/register">Register </a>

      <a mat-button routerLink="/shopping-cart" color="white" *ngIf="authService.isLoggedIn()">
        <i class="material-icons" >
          shopping_cart
        </i>
      </a>



      <!--<a mat-button routerLink="/home">About</a>-->
    </nav>
  </mat-toolbar-row>

</mat-toolbar>
