<br>
<div class="container" *ngIf="loading">

  <div class="row">
    <div class="col-md-3">
      <div class="form-group" (submit)="filter()">
        <label for="brand_select">By Categories:</label>
        <select class="form-control" id="brand_select" [(ngModel)]="selectedCategory.id" (change)="addCategory()" >
          <option [value]="category.id" *ngFor="let category of categories">{{category.name}}</option>
        </select>

        <label for="brand_select">By Price:</label>
        <input class="form-control mb-4" placeholder="min price" (change)="addMinPrice()" [(ngModel)]="minPrice" >
        <input class="form-control mb-4" placeholder="max price" (change)="addMaxPrice()" [(ngModel)]="maxPrice">

        <!--Tags input-->
        <label for="brand_select">By Tags:</label>
        <input class="form-control mb-4" (change)="addTags()"
                    [(ngModel)]="selectedTags" placeholder="tags">

        <!--/.Tgas input-->
        <button type="submit" class="btn btn-success" (click)="filter()">Filter</button>
        <span><p></p></span>
        <button type="submit" class="btn btn-success" (click)="cancel()">Сancel</button>
      </div>
    </div>
    <div class="col-md-9">

      <div class="container">
        <!--<app-card-loader [loop]="3" [height]="800"></app-card-loader>-->
        <div class="row">
          <!-- List of Products -->
          <div class="col-sm-4 mb-2" *ngFor="let product of offers ">
            <div class="item">
              <div class=" mb-r">
                <!--Card-->
                <div class="card card-cascade wider border-primary mb-3">
                  <!-- Card image -->
                  <div class="view view-cascade overlay" routerLink="/offers/{{product.id}}">
                    <img  class="card-img-top" [src]="product.imageUrl" alt="Card image cap" >
                    <a routerLink="/offers/{{product.id}}">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!--/.Card image-->
                  <!--Card content-->
                  <div class="card-body text-center no-padding">
                    <!--Category & Title-->
                    <a class="text-muted">
                      <h5>{{ product.category }}</h5>
                    </a>
                    <p class="card-title">
                      <strong>
                        {{product.name }}
                      </strong>
                    </p>
                    <!--Description-->
                    <div class="card-text" >
                      <div *ngFor="let tag of product.tags">
                        <span class="badge badge-secondary">{{tag}}</span>
                      </div>
                    </div>
                    <!--Card footer-->
                    <div class="card-footer">
                      <span class="left">{{ product.price }} $</span>
                      <span class="right">
                        <a placement="top" mdbTooltip="Add to Wishlist" container="body" >
                        </a>
                      </span>
                    </div>

                  </div>
                  <!--/.Card content-->

                </div>
                <!--/.Card-->

              </div>
            </div>
          </div>
        </div>
        <!-- Pagination -->
        <!--<div class="text-center mt-3">-->
          <!--<pagination-controls (pageChange)="page = $event"></pagination-controls>-->
        <!--</div>-->
      </div>
      <!--/.Card-->
    </div>
  </div>
</div>
<div class="container" *ngIf="!loading">...loading...</div>
<!--<app-add-product></app-add-product>-->

