<div class="container mt-3">
  <div class="col-md order-md-1" *ngIf="loading">
    <h4 class="mb-3">Shipping Address</h4>
    <form class="needs-validation" #userDetailsForm="ngForm" (ngSubmit)="updateUserDetails(userDetailsForm)">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">First name</label>
          <input type="text" class="form-control" id="firstName" [(ngModel)]="user.name" name="firstName"
                 required>
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">Last name</label>
          <input type="text" class="form-control" id="lastName" [(ngModel)]="user.surname" name="lastName"
                 required>
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="email">Email
          <span class="text-muted">(Optional)</span>
        </label>
        <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" [disabled]="true">
        <div class="invalid-feedback">
          Please enter a valid email address for shipping updates.
        </div>
      </div>

      <!--<div class="mb-3">-->
        <!--<label for="address">Address</label>-->
        <!--<input type="text" class="form-control" id="address" placeholder="Minsk" [(ngModel)]="order.deliveryAddress.city"-->
               <!--name="address1" required>-->
        <!--<div class="invalid-feedback">-->
          <!--Please enter your shipping address.-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="mb-3">-->
        <!--<label for="address2">Address 2-->
          <!--<span class="text-muted">(Optional)</span>-->
        <!--</label>-->
        <!--<input type="text" class="form-control" id="address2" placeholder="Street" [(ngModel)]="order.deliveryAddress.street"-->
               <!--name="address2">-->
      <!--</div>-->


      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit">Сonfirm</button>
    </form>
    <div class="container" *ngIf=""></div>
  </div>
</div>
