<div class="container">
  <p>

  </p>
  <button type="submit" class="btn btn-success" (click)="logOut()">LogOut</button>
</div>

<div class="basic-container" style="height: 50%; width: 70%">
<mat-card >
  <mat-card-header>
    <mat-card-title>{{currentUser.name}}</mat-card-title>
    <mat-card-subtitle>{{currentUser.surname}}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="../../../assets/img/customer.png">
  <mat-card-content>
    <p>Email: {{currentUser.email}}</p>
    <p>Age: {{currentUser.age}}</p>
  </mat-card-content>
</mat-card>

</div>

<!--<form>-->
  <!--<div class="row">-->

    <!--<img src="../../../assets/img/customer.png" [alt]="currentUser.name" style="width: 15%; height: 15%;">-->
    <!--<div class="col-md-8 mt-3">-->
      <!--<label>User Name</label>-->
      <!--<p style="font-size: 15px;">{{currentUser.name}}</p>-->
    <!--</div>-->
    <!--<div class="col-md-8 mb-3">-->
      <!--<label>Email Id</label>-->
      <!--<p style="font-size: 15px;">{{currentUser.email}}</p>-->
    <!--</div>-->
  <!--</div>-->

<!--</form>-->
