<br>
<div class="container" *ngIf="loading">
  <div class="row">
    <div class="col-sm-4">
      <div class="product-image">
        <div class="view hm-zoom z-depth-2" style="cursor: pointer">
          <img [src]="offer.imageUrl" [alt]="offer.name" width="100%" class="img-fluid rounded">
        </div>
        <div class="" style="margin-top:15px">
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Product Price</h6>
              </div>
              <span class="text-muted" style="color:crimson !important">{{offer.price}} $</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Product Seller</h6>
              </div>
              <span class="text-muted" style="color:crimson !important"></span>
            </li>
          </ul>

          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-danger" (click)="decQuantity()">-</button>
            </div>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="quantity" name="lastName"
                   required>
            <div class="input-group-append">
              <button class="btn btn-success" (click)="incQuantity()">+</button>
            </div>
          </div>

          <p>

          </p>
          <button class="btn btn-primary" *ngIf="isLoggedIn()" (click)="addToCart()">Add to Cart</button>
          <button class="btn btn-primary" *ngIf="!isLoggedIn()" routerLink="/register">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="product-detail">
        <h5 class="product-head">Product Details</h5>
        <table class="table" cellspacing="0" style="max-height: 28px">
          <tbody>
          <tr>
            <th scope="row">Product Name</th>
            <td>{{offer.name}}</td>
          </tr>
          <tr>
            <th scope="row">Product Description</th>
            <td>{{offer.description}}</td>
          </tr>
          <tr>
            <th scope="row">Product Category</th>
            <td>{{offer.category}}</td>
          </tr>
          <tr>
            <th scope="row">No. of quantity available</th>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Product Added on</th>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
