<h4 class="d-flex justify-content-between align-items-center mb-3">
  <span class="text-muted">Your cart</span>
</h4>
<ul class="list-group mb-3">
  <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let product of orderItems">
    <div>
      <span class="my-0">{{product.name}} </span>
      <span class="badge badge-primary badge-pill">{{product.quantity}}</span>
    </div>
    <span class="text-muted">${{product.price}}</span>
  </li>
  <hr>
  <li class="list-group-item d-flex justify-content-between">
    <span>Total (USD)</span>
    <strong>${{totalValue}}</strong>
  </li>
  <p>

</p>
  <button class="btn btn-primary" routerLink="/catalog">Continue Shipping</button>
  <div *ngIf="!orderPaid">
    <p>

    </p>
    <button class="btn btn-info"  routerLink="/checkouts/{{orderId}}">Checkout</button>
  </div>


</ul>
