
<br>
<div class="container" *ngIf="loading">
  <div class="row">
    <!-- List of Products -->
    <div class="col-8">
      <div class="row">
        <div class="col-4" *ngFor="let product of orderItems">
          <div class="item">
            <div class=" mb-r">

              <!--Card-->
              <div class="card card-cascade wider">

                <div class="view overlay hm-white-slight">
                  <img [src]="product.imageUrl" class="img-fluid" alt="" width="360px" height="640px">
                  <a>
                    <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                  </a>
                </div>
                <!--</a>-->

                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body text-center no-padding">
                  <!--Category & Title-->
                  <a class="text-muted">
                    <h5>{{ product.category }}</h5>
                  </a>
                  <h5 class="card-title">
                    <strong>
                      {{ product.name }}
                      <!--<a [routerLink]="['/products/product', product.$key]">{{ product.name }}</a>-->
                    </strong>
                  </h5>



                  <!--Card footer-->
                  <div class="card-footer">
                    <span class="left">₹ {{ product.price }}</span>
                    <span class="right">
                      <a placement="top" mdbTooltip="Quick Look" container="body"
                         [routerLink]="['/products/product', product.$key]">
                        <i class="fa fa-eye"></i>
                      </a>
                      <!--<a placement="top" mdbTooltip="Remove Product" container="body" (click)="removeCartProduct(product)">-->
                      <!--<i class="fa fa-trash"></i>-->
                      <!--</a>-->
                    </span>
                  </div>

                </div>
                <!--/.Card content-->

              </div>
              <!--/.Card-->

            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="col-4">
        <!--<app-cart-calculator [orderItems]="orderItems"></app-cart-calculator>-->
        <app-cart-calculater [orderItems]="orderItems" [orderId]="order.id" [orderPaid]="order.isPaid" ></app-cart-calculater>
      </div>


  </div>
</div>


