/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

/*@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*/
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Unlock');

body {
  margin: 0;
  /*font-family: Roboto, sans-serif;*/
}
